{% extends 'layout_default.html' %}
{% load static %}
{% block content %}
    <!-- 铁沟信息 -->
    <div style="width:15%;height:90vh;background-color:#032653;float:left">
        <ul class="nav nav-pills nav-stacked" style="padding: 1px">
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" nmouseenter="ditch_one()" ><a href="#">1号铁钩</a></li>
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" onmouseenter="ditch_two()" ><a href="#">2号铁钩</a></li>
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" onmouseenter="ditch_three()" ><a href="#">3号铁钩</a></li>
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" onmouseenter="ditch_four()" ><a href="#">4号铁钩</a></li>
        </ul>
    </div>
    <!-- 铁钩寿命信息展示 -->
    <div class="panel panel-default" style="width:70%;height:25%;float:left;margin-left: 100px;">
        <div class="panel-heading">
        <h3 class="panel-title" style="font-size:22px">铁沟寿命信息</h3>
        </div>
        <div style="width:100%;height:80%;">
        <div id="main_1" style="width:68%;height:150%;float:left;margin:0"></div>
        <div id="main_2" style="width:32%;height:70%;float:right;margin:0">
            <h1 style="color:#000000;font-size: 8px">系统状态</h1>
            <div style="padding:2px">
            <img id ="image_1" srcs="{% static 'img/green.jpg' %}" style="width:30px;height:30px">
            <span style="padding: 20px;">系统状态</span>
            </div>
            <div style="padding:2px" >
            <img id ="image_2" src="{% static 'img/green.jpg' %}" style="width:30px;height:30px">
            <span style="padding: 20px;" >网络状态</span>
            </div>
            <div style="padding:2px" >
            <img id ="image_3" src="{% static 'img/green.jpg' %}" style="width:30px;height:30px">
            <span style="padding: 20px;" >运行状态</span>
            </div>
        </div>
        <div style="padding:2px">
            <img id ="image_10" srcs="{% static 'img/green.jpg' %}" style="width:30px;height:30px">
            <span style="padding: 20px;">系统状态</span>
        </div>
        </div>
    </div>


    <div class="panel panel-default" style="width:40%;float:left;margin-top: 0px;margin-left:100px">
            <!-- <div class="panel-heading" >
            <h3 class="panel-title" style="font-size:22px">铁沟工作层最小残余厚度1</h3>
            </div> -->
            <div style="float:left;margin-left:10%;">
                <p>
                <img id ="image_4" src="{% static 'img/trough.jpg' %}" style="float:left;margin-left:25%;width:40%;height:40%";>
                </p>
                <div id="data-box_1" style="position: relative;z-index:2;left:-210px;top:100px">
                    <span id="data-number_1">1</span>
                </div>
                <div id="data-box_2" style="position: relative;z-index:2;left:-210px;top:120px">
                    <span id="data-number_2">2</span>
                </div>
                <div id="data-box_3" style="position: relative;z-index:2;left:-210px;top:140px">
                    <span id="data-number_3">3</span>
                </div>
                <div id="data-box_4" style="position: relative;z-index:2;left:-30px;top:40px">
                    <span id="data-number_4">4</span>
                </div>
                <div id="data-box_5" style="position: relative;z-index:2;left:-30px;top:60px">
                    <span id="data-number_5">5</span>
                </div>
                <div id="data-box_6" style="position: relative;z-index:2;left:-30px;top:80px">
                    <span id="data-number_6">6</span>
                </div>


            </div>
        </div>

    <div class="panel panel-default" style="width:30%;height:52.7vh;float:left;margin-top: 0px;">
        <div id="echart_thick" style="width:100%;height:100%;margin-top:2;">
        </div>
    </div>
<script type="text/javascript">
    function addData(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/getThick/",
             type: "get",
             success: function (res) {
                console.log(res.thickness)
                document.getElementById("data-number_1").innerHTML=res.thickness;
                document.getElementById("data-number_5").innerHTML=res.thickness-Math.round(Math.random()*(20-5)+5);
                document.getElementById("data-number_6").innerHTML=res.thickness+Math.round(Math.random()*(20-5)+5);
             }
        })
    }
    setInterval(function(){
        addData(true);
    },1000*60*60);
    addData(true)
    function addData4(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/getThick4/",
             type: "get",
             success: function (res) {
                console.log(res.thickness)
                document.getElementById("data-number_4").innerHTML=res.thickness;
             }
        })
    }
    setInterval(function(){
        addData4(true);
    },1000*60*60);
    addData4(true)
    function addData2(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/getThick2/",
             type: "get",
             success: function (res) {
                console.log(res.thickness)
                document.getElementById("data-number_2").innerHTML=res.thickness;
             }
        })
    }
    setInterval(function(){
        addData2(true);
    },1000*60*60);
    addData2(true)
    function addData3(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/getThick3/",
             type: "get",
             success: function (res) {
                console.log(res.thickness)
                document.getElementById("data-number_3").innerHTML=res.thickness;
             }
        })
    }
    setInterval(function(){
        addData3(true);
    },1000*60*60);
    addData3(true)
</script>
<script type="text/javascript">
    var main_1 = echarts.init(document.getElementById("main_1"));
    var image_1 = document.getElementById("image_1");
    var image_2 = document.getElementById("image_2");
    var image_3 = document.getElementById("image_3");
    var image_10 = document.getElementById("image_10");
    // 设置寿命数据
    $.ajax({
                 url: "http://127.0.0.1:8000/getLife/",
                 type: "get",
                 success: function (res) {
                        data_life_used = ((950-(res.data*9.5+550))/550)*100
                        data_life_rest = 100 - data_life_used
                        //console.log(data_life_used,data_life_rest);
                        var option = {
                            title: {
                                top: 5,
                                left: 'left',
                                text: '寿命信息',
                                textStyle: {
                                    color: '#000000',
                                    fontSize: 22
                                },
                            },
                          tooltip:  {
                                 trigger:  'item'
                          },
                          legend:  { //图例
                                 top:  '85%', //距离顶部的位置
                                 left:  'center', //图例的位置
                                 orient:'vertical'  //图例显示方式默认横向
                          },
                          series:  [{
                                 name:'寿命信息',
                                 type: 'pie',
                                 radius:  ['40%','60%'],
                                data:[
                                {value:data_life_rest, name:'剩余寿命'},
                                {value:data_life_used, name:'使用寿命'},
                                ]
                            }]

                        }

                    // 使用刚指定的配置项和数据显示图表。
                    main_1.setOption(option);
                 }
        })
    setInterval(function(){
        $.ajax({
                 url: "http://127.0.0.1:8000/getLife/",
                 type: "get",
                 success: function (res) {
                        data_life_used = ((950-(res.data*9.5+550))/550)*100
                         data_life_rest = 100 - data_life_used
                        //console.log(data_life_used,data_life_rest);
                        var option = {
                            title: {
                                top: 5,
                                left: 'left',
                                text: '寿命信息',
                                textStyle: {
                                    color: '#000000',
                                    fontSize: 22
                                },
                            },
                          tooltip:  {
                                 trigger:  'item'
                          },
                          legend:  { //图例
                                 top:  '85%', //距离顶部的位置
                                 left:  'center', //图例的位置
                                 orient:'vertical'  //图例显示方式默认横向
                          },
                          series:  [{
                                 name:'寿命信息',
                                 type: 'pie',
                                 radius:  ['40%','60%'],
                                data:[
                                {value:data_life_rest, name:'剩余寿命'},
                                {value:data_life_used, name:'使用寿命'},
                                ]
                            }]

                        }

                    // 使用刚指定的配置项和数据显示图表。
                    main_1.setOption(option);
                 }
        })
        },1000*60*60);
    setInterval(function(){
        $.ajax({
                 url: "http://127.0.0.1:8000/getState",
                 type: "get",
                 success: function (res) {

                        if(res.systemType === 1){
                            image_1.src = "{% static 'img/green.jpg' %}";
                        }else{
                            image_1.src = "{% static 'img/red.jpg' %}";
                        }
                        if(res.networkType === 1){

                            image_2.src = "{% static 'img/green.jpg' %}";
                        }else{

                            image_2.src = "{% static 'img/red.jpg' %}";
                        }
                        if(res.runType === 1){

                            image_3.src = "{% static 'img/green.jpg' %}";
                        }else{

                            image_3.src = "{% static 'img/red.jpg' %}";
                        }

                        if(image_10.src.match("red.jpg")){
                            image_10.src = "{% static 'img/green.jpg' %}";
                        }else{
                            image_10.src = "{% static 'img/red.jpg' %}";
                        }

                 }//success
        })},1000);
    setInterval(function(){
        $.ajax({
               url: "http://127.0.0.1:8000/mytest",
               type: "get",
               success:function(res){
                 console.log('请求发送玩了');
               }
        })},1000*60*60);




</script>
<script type="text/javascript">
    var myChart_thick = echarts.init(document.getElementById('echart_thick'));
    var date1 = [];
    var data1 = [];
    function addData(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/info/historyInfoMain/",
             type: "get",
             success: function (res) {
                data1 = res.datas_1
                date1 = res.dates_1
                setOptions1();
             }
             })
        if(shift){
            data1.shift();
            date1.shift();
        }
    }
    function setOptions1(){
        option1 = {
        xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date1
                },
        yAxis: {
                min:0,
                max:1000,
                boundaryGap: [0, '50%'],
                type: 'value'
                },
        grid: {
            top: "5%"
         },
        series:[{
            name:'成交',
            type:'line',
            smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {//填充
                     normal: {}
                        },
            data: data1,
        }],
        toolbox:{
            emphasis: { //鼠标hover到图标的样式
      iconStyle: {
        color: 'rgba(198, 60, 17, 1)'
      }
    },
    show: true,
    feature: {
      dataZoom: { //缩放
        yAxisIndex: 'none'
      },
      restore: {}, //重置
      saveAsImage: {} //保存图片
    }
        }
    }
        myChart_thick.setOption(option1);
    }
    addData(true)

    setInterval(function(){
        addData(true)
        },1000*60*60);
</script>
{% endblock %}