{% extends 'layout_default.html' %}

{% block content %}
<!-- 铁沟信息 -->
    <div style="width:15%;height:90vh;background-color:#032653;float:left">
        <ul class="nav nav-pills nav-stacked" style="padding: 1px">
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" nmouseenter="ditch_one()" ><a href="#">1号铁钩</a></li>
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" onmouseenter="ditch_two()" ><a href="#">2号铁钩</a></li>
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" onmouseenter="ditch_three()" ><a href="#">3号铁钩</a></li>
            <li role="presentation" style="margin:10px;font-size: 24px;text-align: center" onmouseenter="ditch_four()" ><a href="#">4号铁钩</a></li>
        </ul>
    </div>
    <!-- 提示信息处理 -->
    <div class="panel panel-default" style="width:80%;height:80vh;float:right" >
        <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 24px">铁沟厚度历史查询</h3>
        </div>
        <div id="echart_thick" style="width:50%;height:45%;margin-top:2;float:right">
        </div>
        <div id="echart_thick2" style="width:50%;height:45%;margin-top:2;float:right">
        </div>
        <div id="echart_thick3" style="width:50%;height:45%;margin-top:2;float:left">
        </div>
        <div id="echart_thick4" style="width:50%;height:45%;margin-top:2;float:left">

        </div>
    </div>
<script>
    var myChart_thick = echarts.init(document.getElementById('echart_thick'));
    var date1 = [];
    var data1 = [];
    function addData(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/info/historyInfo/",
             type: "get",
             success: function (res) {
                data1 = res.datas_1
                date1 = res.dates_1
                setOptions1();
             }
             })
        if(shift){
            data1.shift();
            date1.shift();
        }
    }
    function setOptions1(){
        option1 = {
        xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date1
                },
        yAxis: {
                min:0,
                max:1000,
                boundaryGap: [0, '50%'],
                type: 'value'
                },
        grid: {
            top: "5%"
         },
        series:[{
            name:'成交',
            type:'line',
            smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {//填充
                     normal: {}
                        },
            data: data1,
        }],
        toolbox:{
            emphasis: { //鼠标hover到图标的样式
      iconStyle: {
        color: 'rgba(198, 60, 17, 1)'
      }
    },
    show: true,
    feature: {
      dataZoom: { //缩放
        yAxisIndex: 'none'
      },
      restore: {}, //重置
      saveAsImage: {} //保存图片
    }
        }
    }
        myChart_thick.setOption(option1);
    }
    addData(true)

    var myChart_thick2 = echarts.init(document.getElementById('echart_thick2'));
    var date2 = [];
    var data2 = [];
    function addData2(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/info/historyInfo/",
             type: "get",
             success: function (res) {
                data2 = res.datas_2
                date2 = res.dates_2
                setOptions2();
             }
             })
        if(shift){
            data2.shift();
            date2.shift();
        }
    }
    function setOptions2(){
        option2 = {
        xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date2
                },
        yAxis: {
                min:0,
                max:1000,
                boundaryGap: [0, '50%'],
                type: 'value'
                },
        grid: {
            top: "5%"
         },
        series:[{
            name:'成交',
            type:'line',
            smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {//填充
                     normal: {}
                        },
            data: data2,
        }],
        toolbox:{
            emphasis: { //鼠标hover到图标的样式
      iconStyle: {
        color: 'rgba(198, 60, 17, 1)'
      }
    },
    show: true,
    feature: {
      dataZoom: { //缩放
        yAxisIndex: 'none'
      },
      restore: {}, //重置
      saveAsImage: {} //保存图片
    }
        }
    }
        myChart_thick2.setOption(option2);
    }
    addData2(true)

    var myChart_thick3 = echarts.init(document.getElementById('echart_thick3'));
    var date3 = [];
    var data3 = [];
    function addData3(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/info/historyInfo/",
             type: "get",
             success: function (res) {
                data3 = res.datas_3
                date3 = res.dates_3
                setOptions3();
             }
             })
        if(shift){
            data3.shift();
            date3.shift();
        }
    }
    function setOptions3(){
        option3 = {
        xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date3
                },
        yAxis: {
                min:0,
                max:1000,
                boundaryGap: [0, '50%'],
                type: 'value'
                },
        grid: {
            top: "5%"
         },
        series:[{
            name:'成交',
            type:'line',
            smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {//填充
                     normal: {}
                        },
            data: data3,
        }],
        toolbox:{
            emphasis: { //鼠标hover到图标的样式
      iconStyle: {
        color: 'rgba(198, 60, 17, 1)'
      }
    },
    show: true,
    feature: {
      dataZoom: { //缩放
        yAxisIndex: 'none'
      },
      restore: {}, //重置
      saveAsImage: {} //保存图片
    }
        }
    }
        myChart_thick3.setOption(option3);
    }
    addData3(true)


    var myChart_thick4 = echarts.init(document.getElementById('echart_thick4'));
    var date4 = [];
    var data4 = [];
    function addData4(shift){
        $.ajax({
             url: "http://127.0.0.1:8000/info/historyInfo/",
             type: "get",
             success: function (res) {
                data4 = res.datas_4
                date4 = res.dates_4
                setOptions4();
             }
             })
        if(shift){
            data4.shift();
            date4.shift();
        }
    }
    function setOptions4(){
        option4 = {
        xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date4
                },
        yAxis: {
                min:0,
                max:1000,
                boundaryGap: [0, '50%'],
                type: 'value'
                },
        grid: {
            top: "5%"
         },
        series:[{
            name:'成交',
            type:'line',
            smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {//填充
                     normal: {}
                        },
            data: data4,
        }],
        toolbox:{
            emphasis: { //鼠标hover到图标的样式
      iconStyle: {
        color: 'rgba(198, 60, 17, 1)'
      }
    },
    show: true,
    feature: {
      dataZoom: { //缩放
        yAxisIndex: 'none'
      },
      restore: {}, //重置
      saveAsImage: {} //保存图片
    }
        }
    }
        myChart_thick4.setOption(option4);
    }
    addData4(true)
</script>
<script>
    setInterval(function(){
        $.ajax({
               url: "http://127.0.0.1:8000/mytest",
               type: "get",
               success:function(res){
                 console.log('请求发送玩了');
               }
        })},1000*60*60);
</script>
{% endblock %}
